body {
    background-image: linear-gradient(rgba(0, 0, 0, 0.952), rgba(0, 0, 0, 0.932)),
    url("/static/images/940.jpg");
    background-size: contain;
    background-attachment: fixed;
}

.jumbotron {
    background-image: linear-gradient(rgba(10, 10, 82, 0.9), rgba(29, 29, 21, 0.9)),
                  url("/static/images/microbes_sem.jpg");
}

.jumbotron h1, p{
    color: rgb(255, 255, 255);
}

thead {
    color: #343a40;
    background-color: white!important;
}

.gauge {
    max-height: calc(280px + 20px) !important;
    overflow:hidden;
}
